@model projet_dot_net.Model.Establishments

@{
    ViewBag.Title = "Details";
}

<header class="jumbotron-fluid">
    <br />
    <br />
    <br />
    <br />
    <h2 class="text-center text-primary">Détails de l'établissement @Html.DisplayFor(model => model.Name)</h2>
</header>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)</div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.Address) : @Html.DisplayFor(model => model.Address)</div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.PostCode) : @Html.DisplayFor(model => model.PostCode)</div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.Town) : @Html.DisplayFor(model => model.Town)</div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.Academies.Name) : @Html.DisplayFor(model => model.Academies.Name) | <a href='javascript:window.location.href = "@Url.Action("Details", "Academies", new { id = Model.Academies.Id} )";'>Voir détails de l'académie</a></div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.Users.UserName) : @Html.DisplayFor(model => model.Users.UserName) | <a href='javascript:window.location.href = "@Url.Action("Details", "Users", new { id = Model.Users.Id} )";'>Voir détails de l'utilisateur</a></div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Retour à la liste", "Index") |
        <a href="#" data-toggle="modal" data-target="#myModal">Voir les classes liées</a>
    </p>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Liste des classes de l'établissement de @Html.DisplayFor(model => model.Name) </h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nom</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Classrooms)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    <a href='javascript:window.location.href = "@Url.Action("Edit", "Classrooms", new { id = item.Id} )";'>Modifier</a>
                                    <a href='javascript:window.location.href = "@Url.Action("Details", "Classrooms", new { id = item.Id} )";'>Détails</a>
                                    <a href='javascript:window.location.href = "@Url.Action("Delete", "Classrooms", new { id = item.Id} )";'>Supprimer</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Fermer</button>
            </div>
        </div>

    </div>
</div>