@model projet_dot_net.Model.Results

@{
    ViewBag.Title = "Delete";
}

<header class="jumbotron-fluid">
    <br />
    <br />
    <br />
    <br />
    <h2 class="text-center text-primary">Supprimer le résultat</h2>
</header>
<div class="container">
    <div class="alert alert-danger" role="alert">
        <h3>Etes vous sûr de vouloir supprimer ce résultat ?</h3>
    </div>
    <div class="jumbotron">
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.Note) : @Html.DisplayFor(model => model.Note)</div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.Evaluations.Id) : @Html.DisplayFor(model => model.Evaluations.Id)</div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.Pupils.FirstName) : @Html.DisplayFor(model => model.Pupils.FirstName)</div>
        </div>
    </div>
</div>

    

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Supprimer" class="btn btn-danger" /> |
                @Html.ActionLink("Retour à la liste", "Index")
            </div>
        }
    
