@model projet_dot_net.Model.Pupils

@{
    ViewBag.Title = "Delete";
}

<header class="jumbotron-fluid">
    <br />
    <br />
    <br />
    <br />
    <h2 class="text-center text-primary">Supprimer l'élève</h2>
</header>

<div class="container">
    <div class="alert alert-danger" role="alert">
        <h3>Etes vous sûr de vouloir supprimer cette évaluation ?</h3>
    </div>
    <div class="jumbotron">
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.FirstName) : @Html.DisplayFor(model => model.FirstName)</div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.LastName) : @Html.DisplayFor(model => model.LastName)</div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.Sex) : @Html.DisplayFor(model => model.Sex)</div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.BirthdayDate) : @Html.DisplayFor(model => model.BirthdayDate)</div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.State) : @Html.DisplayFor(model => model.State)</div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.Classrooms.Title) : @Html.DisplayFor(model => model.Classrooms.Title)</div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.Levels.Title) : @Html.DisplayFor(model => model.Levels.Title)</div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.Tutors.LastName) : @Html.DisplayFor(model => model.Tutors.LastName)</div>
        </div>
    </div>
</div>
    
       

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Supprimer" class="btn btn-danger" /> |
                @Html.ActionLink("Retour à la liste", "Index")
            </div>
        }
   
