@model projet_dot_net.Model.Tutors

@{
    ViewBag.Title = "Delete";
}

<header class="jumbotron-fluid">
    <br />
    <br />
    <br />
    <br />
    <h2 class="text-center text-primary">Supprimer le résultat</h2>
</header>
<div class="container">
    <div class="alert alert-danger" role="alert">
        <h3>Etes vous sûr de vouloir supprimer ce résultat ?</h3>
    </div>
    <div class="jumbotron">
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.LastName) : @Html.DisplayFor(model => model.LastName)</div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.FirstName) : @Html.DisplayFor(model => model.FirstName) | <a href='javascript:window.location.href = "@Url.Action("Details", "Evaluations", new { id = Model.Evaluations.Id} )";'>Voir l'évaluation</a></div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.Address) : @Html.DisplayFor(model => model.Address) | <a href='javascript:window.location.href = "@Url.Action("Details", "Pupils", new { id = Model.Pupils.Id} )";'>Voir détails de l'élève</a></div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.PostCode) : @Html.DisplayFor(model => model.PostCode) | <a href='javascript:window.location.href = "@Url.Action("Details", "Pupils", new { id = Model.Pupils.Id} )";'>Voir détails de l'élève</a></div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.Town) : @Html.DisplayFor(model => model.Town) | <a href='javascript:window.location.href = "@Url.Action("Details", "Pupils", new { id = Model.Pupils.Id} )";'>Voir détails de l'élève</a></div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.Tel) : @Html.DisplayFor(model => model.Tel) | <a href='javascript:window.location.href = "@Url.Action("Details", "Pupils", new { id = Model.Pupils.Id} )";'>Voir détails de l'élève</a></div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.Mail) : @Html.DisplayFor(model => model.Mail) | <a href='javascript:window.location.href = "@Url.Action("Details", "Pupils", new { id = Model.Pupils.Id} )";'>Voir détails de l'élève</a></div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.Comment) : @Html.DisplayFor(model => model.Comment) | <a href='javascript:window.location.href = "@Url.Action("Details", "Pupils", new { id = Model.Pupils.Id} )";'>Voir détails de l'élève</a></div>
        </div>

    </div>
   </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-danger" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }

