@model IEnumerable<projet_dot_net.Model.Tutors>

@{
    ViewBag.Title = "Index";
}

<header class="jumbotron-fluid">
    <br />
    <br />
    <br />
    <br />
    <h2 class="text-center text-primary">Liste des tuteurs</h2>
</header>


<section class="container">

    <p>
        @Html.ActionLink("Ajouter un nouveau tuteur", "Create", null, new { @class = "btn btn-outline-dark pull-right" })
    </p>
    <br />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Town)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment)
                </th>
                <th></th>
            </tr>
            </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Town)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Voir détails", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Supprimer", new { id = item.Id })
                    </td>
                </tr>
            }
            </tbody>
    </table>
</section>