@model projet_dot_net.Model.Classrooms

@{
    ViewBag.Title = "Delete";
}

<header class="jumbotron-fluid">
    <br />
    <br />
    <br />
    <br />
    <h2 class="text-center text-primary">Supprimer la salle de classe @Html.DisplayFor(model => model.Title)</h2>
</header>



<div class="container">
    <div class="alert alert-danger" role="alert">
        <h3>Etes vous sûr de vouloir supprimer cette classe ?</h3>
    </div>
    <div class="jumbotron">
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.Title) : @Html.DisplayFor(model => model.Title)</div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.Establishments.Name) : @Html.DisplayFor(model => model.Establishments.Name)</div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.Users.UserName) : @Html.DisplayFor(model => model.Users.UserName)</div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.Years.Id) : @Html.DisplayFor(model => model.Years.Id)</div>
        </div>
        
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-danger" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
