@model projet_dot_net.Model.Users

@{
    ViewBag.Title = "Delete";
}

<header class="jumbotron-fluid">
    <br />
    <br />
    <br />
    <br />
    <h2 class="text-center text-primary">Supprimer un utilisateur</h2>
</header>

<div class="container">
    <div class="alert alert-danger" role="alert">
        <h3>Etes vous sûr de vouloir supprimer cet utilisateur ?</h3>
    </div>
    <div class="jumbotron">
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.UserName) : @Html.DisplayFor(model => model.UserName)</div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.FirstName) : @Html.DisplayFor(model => model.FirstName)</div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.LastName) : @Html.DisplayFor(model => model.LastName)</div>
        </div>
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.Mail) : @Html.DisplayFor(model => model.Mail)</div>
        </div>
    </div>
</div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-danger" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }

