@model IEnumerable<projet_dot_net.Model.Users>

@{
    ViewBag.Title = "Index";
}

<header class="jumbotron-fluid">
    <br />
    <br />
    <br />
    <br />
    <h2 class="text-center text-primary">Liste des utilisateurs</h2>
</header>


<section class="container">

    <p>
        @Html.ActionLink("Ajouter un utilisateur", "Create", null, new { @class = "btn btn-outline-dark pull-right" })
    </p>
    <br />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mail)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mail)
                    </td>
                    <td>
                        @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Voir détails", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Supprimer", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>