@model IEnumerable<projet_dot_net.Model.Evaluations>

@{
    ViewBag.Title = "Index";
}
<header class="jumbotron-fluid">
    <br />
    <br />
    <br />
    <br />
    <h2 class="text-center text-primary">Liste des évaluations</h2>
</header>
<section class="container">

    <p>
        @Html.ActionLink("Créer une nouvelle évaluation", "Create", null, new { @class = "btn btn-outline-dark pull-right" })
    </p>
    <br />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPoint)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Classrooms.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Periods.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.UserName)
                </th>
                <th></th>
            </tr>
            </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPoint)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Classrooms.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Periods.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Users.UserName)
                    </td>
                    <td>
                        @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Voir détails", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Supprimer", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>