@model IEnumerable<projet_dot_net.Model.Academies>

@{
    ViewBag.Title = "Index";
}
<header class="jumbotron-fluid">
    <br />
    <br />
    <br />
    <br />
    <h2 class="text-center text-primary">Liste des académies</h2>
</header>

<section class="container">
    
        <p>
            @Html.ActionLink("Créer une nouvelle académie", "Create", null, new { @class = "btn btn-outline-dark pull-right" })
        </p>    
    <br />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Voir détails", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </tbody>

    </table>
</section>

